/* Establish over-arching webpage branding */
/* CSS/SASS Boilerplate */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import Font */
h1 {
  color: white;
  text-align: left;
  font-weight: bold;
}

h2 {
  color: white;
  text-align: left;
  font-weight: normal;
}

p {
  color: white;
  text-align: left;
  font-weight: lighter;
}

li {
  color: white;
}

em {
  font-style: normal;
  color: #E79223;
  font-size: 16pt;
  transition: font-size 0.5s;
}

em:hover {
  color: #ff9f39;
  font-size: 18pt;
  transition: ease-in 0.5s;
}

html {
  scroll-padding-top: 71px;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F1F1F;
  font-family: "Maven Pro", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  border: none;
  border-bottom: 1px solid #E79223;
  /* Navigation Menu */
  /* List Items */
}
nav ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0 15px;
  font-size: 17px;
}
nav li a {
  color: white;
  text-decoration: none;
  text-align: center;
}
nav li a:hover {
  color: #ff9f39;
  transition: ease 0.7s;
}
nav .logo {
  display: inline-flex;
  margin-right: auto;
  align-items: center;
}
nav .logo img {
  height: 45px;
  width: auto;
  margin-right: 15px;
}
nav .logo span {
  color: white;
  font-size: 15pt;
}

body {
  background-color: #1F1F1F;
  font-family: "Maven Pro", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}
body .header {
  display: flex;
  flex-direction: column;
  background-image: url("../img/banner.png");
  background-blend-mode: lighten;
  background-color: #000;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 400px;
}
body .header h1 {
  font-size: 60pt;
  text-align: center;
  font-weight: normal;
  font-family: "Rock Salt", cursive;
  text-shadow: 5px 5px 10px black;
  transition: font-size 1s;
}
body .header h1:hover {
  transition: ease-in 1s;
  font-size: 75pt;
}
body .header p {
  font-size: 20pt;
  text-align: center;
  text-shadow: 5px 5px 10px black;
}
body .about {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #141414;
}
body .about h1 {
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: "Rock Salt", cursive;
}
body .about img {
  border-radius: 100%;
  max-width: 15%;
  height: auto;
}
body .about p {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16pt;
  text-align: center;
  width: 55%;
}
body .experiences {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body .experiences h1 {
  font-weight: normal;
  padding-top: 20px;
  font-family: "Rock Salt", cursive;
}
body .experiences img {
  filter: grayscale(100%);
}
body .experiences .institutions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 50%;
  width: 100%;
}
body .experiences .institutions h1 {
  text-align: center;
}
body .experiences .institutions .inst-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .experiences .institutions .inst-logo img {
  border-radius: 100%;
  max-width: 27%;
  padding: 20px;
  transition: max-width 0.5s;
}
body .experiences .institutions .inst-logo img:hover {
  filter: grayscale(0%);
  transition: filter 0.5s;
  max-width: 30%;
  transition: max-width 0.5s;
}
body .experiences .software {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 50%;
  width: 100%;
}
body .experiences .software h1 {
  text-align: center;
}
body .experiences .software .soft-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .experiences .software .soft-logo img {
  max-width: 15%;
  padding: 30px;
  transition: max-width 0.5s;
}
body .experiences .software .soft-logo img:hover {
  filter: grayscale(0%);
  transition: filter 0.5s;
  max-width: 17%;
  transition: max-width 0.5s;
}
body .projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #141414;
}
body .projects a {
  color: #E79223;
  text-decoration: none;
}
body .projects a:hover {
  color: #ff9f39;
}
body .projects a:visited {
  color: #ff9f39;
  text-decoration: none;
}
body .projects .gallery {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .projects .gallery .modalButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body .projects .gallery .modalButtons img {
  align-self: center;
  transition: max-width 0.5s;
  max-width: 25%;
  box-shadow: 5px 5px 20px;
}
body .projects .gallery .modalButtons img:hover {
  transition: max-width 0.5s;
  max-width: 27%;
}
body h1 {
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  font-family: "Rock Salt", cursive;
  padding-bottom: 10px;
  align-self: center;
}
body p {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  padding-bottom: 20px;
  font-size: 14pt;
  align-self: center;
}

.personalContainer {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow: auto;
  align-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}
.personalContainer .personalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: auto;
  padding: 10px;
  width: 50%;
  border: 2px solid rgb(121, 0, 22);
}
.personalContainer .personalContent img {
  padding: 20px;
  max-width: 100%;
}
.personalContainer .personalContent .personalHead {
  width: 90%;
  height: 90%;
}
.personalContainer .personalContent .personalHead span {
  float: right;
  font-size: 36pt;
  color: white;
}
.personalContainer .personalContent .personalBody {
  width: 90%;
}
.personalContainer .personalContent .personalBody hr {
  width: 95%;
  justify-self: center;
}

.albumContainer {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow: auto;
  align-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}
.albumContainer .albumContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
}
.albumContainer .albumContent .albumHead {
  width: 90%;
  height: 90%;
}
.albumContainer .albumContent .albumHead span {
  float: right;
  font-size: 36pt;
  color: white;
}

.sfContainer {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow: auto;
  align-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}
.sfContainer .sfContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
}
.sfContainer .sfContent .sfHead {
  width: 90%;
  height: 90%;
}
.sfContainer .sfContent .sfHead span {
  float: right;
  font-size: 36pt;
  color: white;
}/*# sourceMappingURL=branding.css.map */