/* Establish over-arching webpage branding */

/* CSS/SASS Boilerplate */
*
    margin: 0
    padding: 0
    box-sizing: border-box

/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Rock+Salt&display=swap')

// Font Variables
$mainFont: 'Maven Pro', sans-serif
$headingFont: "Rock Salt", cursive

// Color Variables
$baseColor: #1F1F1F
$accent: #E79223
$accent2: #141414
$accent3: #181818
$linkHov: #ff9f39

// Default Text Styling
h1
    color: white
    text-align: left
    font-weight: bold

h2
    color: white
    text-align: left
    font-weight: normal

p
    color: white
    text-align: left
    font-weight: lighter

li
    color: white

em
    font-style: normal
    color: $accent
    font-size: 16pt
    transition: font-size 0.5s

em:hover
    color: $linkHov
    font-size: 18pt
    transition: ease-in 0.5s

html
    scroll-padding-top: 71px
    scroll-behavior: smooth

// Navigation Styling
nav
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $accent3
    font-family: $mainFont
    padding-right: 15px
    padding-left: 15px
    width: 100%
    height: 70px
    position: fixed
    top: 0
    overflow: hidden
    z-index: 10
    /* Navigation Menu */
    ul
        list-style-type: none
        display: flex
        margin-left: auto
        margin: 0
        padding: 0
    /* List Items */
    li
        padding: 0 15px 
        font-size: 17px
        a
            color: white
            text-decoration: none
            text-align: center

            &:hover
                color: $linkHov
                transition: ease 0.7s
    .logo
        display: inline-flex
        margin-right: auto
        align-items: center
        img
            height: 45px
            width: auto
            margin-right: 15px   
        span
            color: white
            font-size: 15pt


// Body Styling
body
    background-color: $baseColor
    font-family: $mainFont
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding-top: 70px
    // Header Class Styling
    .header
        display: flex
        flex-direction: column
        background-image: url('../img/banner.png')
        background-blend-mode: lighten
        background-color: #000
        width: 100%
        padding-top: 300px
        padding-bottom: 400px
        h1
            font-size: 60pt
            text-align: center
            font-weight: normal
            font-family: $headingFont
            text-shadow: 5px 5px 10px black
            transition: font-size 1s
        h1:hover
            transition: ease-in 1s
            font-size: 75pt
        p
            font-size: 20pt
            text-align: center
            text-shadow: 5px 5px 10px black

    //About Class Styling
    .about
        display: flex
        flex-direction: column
        width: 100%
        align-items: center
        background-color: $accent2
        h1
            font-weight: normal
            padding-top: 30px
            padding-bottom: 20px
            font-family: $headingFont
        img
            border-radius: 100%
            max-width: 15%
            height: auto
        p
            padding-top: 40px
            padding-bottom: 40px
            font-size: 16pt
            text-align: center
            width: 55%
    //Experience Class Styling
    .experiences
        display: flex
        flex-direction: row
        width: 100%
        h1
            font-weight: normal
            padding-top: 20px

            font-family: $headingFont
        img
            filter: grayscale(100%)
        .institutions
            display: flex
            flex-direction: column
            flex-wrap: wrap
            flex: 50%
            width: 100%
            h1
                text-align: center
            .inst-logo
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                img
                    border-radius: 100%
                    max-width: 27%
                    padding: 20px
                    transition: max-width 0.5s
                img:hover
                    filter: grayscale(0%)
                    transition: filter 0.5s
                    max-width: 30%
                    transition: max-width 0.5s
        .software
            display: flex
            flex-wrap: wrap
            flex-direction: column
            flex: 50%
            width: 100%
            h1
                text-align: center
            .soft-logo
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                img
                    max-width: 15%
                    padding: 30px
                    transition: max-width 0.5s
                img:hover
                    filter: grayscale(0%)
                    transition: filter 0.5s
                    max-width: 17%
                    transition: max-width 0.5s
    .projects
        display: flex
        align-items: center
        flex-direction: column
        background-color: $accent2
        padding-bottom: 30px
        a
            color: $accent
            text-decoration: none
            &:hover
                color: $linkHov
            &:visited
                color: $linkHov
                text-decoration: none
                

        .gallery
            display: block
            flex-direction: column
            justify-content: center
            align-items: center

            .modalButtons
                display: flex
                flex-direction: row
                flex-wrap: wrap
                justify-content: space-evenly
                align-items: center
                img
                    align-self: center
                    transition: max-width 0.5s
                    max-width: 25%
                    box-shadow: 5px 5px 20px
                img:hover
                    transition: max-width 0.5s
                    max-width: 27%
    h1
        padding-top: 20px
        text-align: center
        font-weight: normal
        font-family: $headingFont
        padding-bottom: 10px
        align-self: center

    p
        text-align: center
        font-family: $mainFont
        padding-bottom: 20px
        font-size: 14pt
        align-self: center

footer
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    background-color: $accent3
    h1
        font-size: 18pt
    .socials
        display: flex
        flex-direction: row
        justify-content: center
        input
            padding: 10px
            width: auto
            max-height: 70px
            transition: max-height 0.5s
            &:hover
                max-height: 80px
                transition: max-height 0.5s

        
.personalContainer
    background-color: rgba(0,0,0,0.4)
    display: none
    overflow: auto
    align-content: center
    position: fixed
    height: 100%
    width: 100%
    z-index: 5
    top: 0
    left: 0
    .personalContent
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: black
        margin: auto
        padding: 10px
        width: 50%
        border: 2px solid rgb(214, 29, 41)
        img
            padding: 20px
            max-width: 100%
        .personalHead
            width: 90%
            height: 90%
            span
                float: right
                font-size: 36pt
                color: white
        .personalBody
            width: 100%
            hr
                width: 95%
                justify-self: center

.albumContainer
    background-color: rgba(0,0,0,0.4)
    display: none
    overflow: auto
    align-content: center
    position: fixed
    height: 100%
    width: 100%
    z-index: 5
    top: 0
    left: 0
    .albumContent
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: black
        margin: auto
        padding: 20px
        width: 50%
        border: 2px solid #A588F5
        .albumHead
            width: 90%
            height: 90%
            span
                float: right
                font-size: 36pt
                color: white
        .albumBody
            width: 90%
            img
                max-width: 100%
            hr
                width: 95%
                justify-self: center

.sfContainer
    background-color: rgba(0,0,0,0.4)
    display: none
    overflow: auto
    align-content: center
    position: fixed
    height: 100%
    width: 100%
    z-index: 5
    top: 0
    left: 0
    .sfContent
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: black
        margin: auto
        padding: 20px
        width: 50%
        border: 2px solid rgb(2246, 137, 91)
        .sfHead
            width: 90%
            height: 90%
            span
                float: right
                font-size: 36pt
                color: white
        .sfBody
            width: 90%
            img
                padding-top: 20px
                max-width: 100%
            hr
                width: 100%
                justify-self: center