/* Establish over-arching webpage branding */

/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap')

// Font Variables
$mainFont: 'Maven Pro', sans-serif

// Color Variables
$baseColor: #353535
$baseAccent: #525252
$superAccent: #A51223
$subAccent: #810E1C

// Structural Styling
body
    background-image: linear-gradient(to bottom right, $baseColor, $baseColor, $baseColor, $subAccent, $subAccent)
    background-attachment: fixed
    font-family: $mainFont

.mainContent
    width: 40%
    padding-left: 15px
    padding-right: 15px
    padding-top: 10px
    padding-bottom: 10px
    height: 300px
    margin-top: 50px
    margin-right: auto
    margin-left: 80px

// Text Styling
h1
    color: white
    text-align: left
    font-weight: normal

p
    color: white
    text-align: left
    font-weight: lighter
