/* Establish over-arching webpage branding */

/* CSS/SASS Boilerplate */
*
    margin: 0
    padding: 0
    box-sizing: border-box

/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap')

// Font Variables
$mainFont: 'Maven Pro', sans-serif

// Color Variables
$baseColor: #1F1F1F
$accent: #810E1C
$accent2: #141414

// Head Styling
head
    font-family: $mainFont


// Body Styling
body
    background-image: linear-gradient($baseColor, $baseColor, $baseColor, $baseColor, $baseColor, $accent)
    background-attachment: fixed
    font-family: $mainFont
    margin: 0

// Navigation Styling
nav
    background-color: $accent2
    font-family: $mainFont
    padding-left: 15px
    padding-right: 15px
    padding-top: 15px
    padding-bottom: 15px
    width: 100%
    height: 50px
    ul
        float: right
        overflow: hidden

    li
        list-style-type: none
        display: inline
        padding: 10px
        a
            color: white
            text-decoration: none
            text-align: center
        a:hover
            background-color: $accent

.navigation
    text-align: right

// Header Class Styling
.header
    width: 30%
    height: 300px
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 10px
    margin-top: 50px
    margin-right: auto
    margin-left: 80px
    h1
        font-size: 50pt
        padding-top: 20px
        padding-bottom: 10px
    p
        font-size: 15pt
        padding-bottom: 20px
    hr
        width: 70%


//Content Class Styling
.content
    margin-right: auto
    margin-left: 80px
    p
        font-size: 15pt
        margin-top: 0px


// Default Text Styling
h1
    color: white
    text-align: left
    font-weight: bold

h2
    color: white
    text-align: left
    font-weight: normal

p
    color: white
    text-align: left
    font-weight: lighter

li
    color: white
