/* Establish over-arching webpage branding */

/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap')

// Font Variables
$mainFont: 'Maven Pro', sans-serif

// Color Variables
$baseColor: #353535
$baseAccent: #525252
$superAccent: #A51223
$subAccent: #810E1C

// Structural Styling
body
    background-image: linear-gradient($baseColor, $baseColor, $baseColor, $subAccent)
    background-attachment: fixed
    font-family: $mainFont

// Header Class Styling
.header
    width: 30%
    height: 300px
    padding-left: 15px
    padding-right: 15px
    padding-top: 10px
    padding-bottom: 10px
    margin-top: 50px
    margin-right: auto
    margin-left: 80px
    p
        font-size: 15pt

    h1
        font-size: 50pt
        margin-bottom: 1px


//Content Class Styling
.content
    margin-right: auto
    margin-left: 80px
    p
        font-size: 15pt
        margin-top: 0px


// Default Text Styling
h1
    color: white
    text-align: left
    font-weight: bold

h2
    color: white
    text-align: left
    font-weight: normal

p
    color: white
    text-align: left
    font-weight: lighter
